extends layout.pug
include includes/command
include includes/panel
include includes/icon
//- <!--suppress XmlUnboundNsPrefix, HtmlUnknownAttribute -->
block content
  header.header
    h1.header__title= title
  main.container
    each it, command in controller
      +panel(it.name)(id=it.name)
         each group in it.commands
           .panel__group
             each it in group
               // noinspection JSUnusedLocalSymbols const
               -const myCommand = `${command} ${it.command}`
               +command(it.description, myCommand)
                 case myCommand
                   when 'tv on'
                     +icon('power-off')(style="fill: green")
                   when 'tv off'
                     +icon('power-off')(style="fill: red")

                   when 'light on'
                     +icon('lightbulb')(style="fill: red")
                   when 'light off'
                     +icon('lightbulb')

                   default
                     =it.label

  div.status
    div.status__content
      h1='Test text here!'